USE [TESTDB]
GO
/****** Object:  Table [dbo].[ERP_BUSINESS_CONDITION]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_BUSINESS_CONDITION](
	[CONDITION_CODE] [varchar](2) NOT NULL,
	[CONDITION_VALUE] [varchar](100) NULL,
	[CONDITION_STATUS] [varchar](2) NULL,
 CONSTRAINT [PK_COMPANY_CONDITION] PRIMARY KEY CLUSTERED 
(
	[CONDITION_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_AREA]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_AREA](
	[CODE_NUM] [varchar](2) NOT NULL,
	[CODE_VALUE] [varchar](4) NULL,
 CONSTRAINT [PK_AREA] PRIMARY KEY CLUSTERED 
(
	[CODE_NUM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_ACCOUNT_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_ACCOUNT_TYPE](
	[TYPE_CODE] [varchar](5) NOT NULL,
	[TYPE_VALUE] [varchar](20) NULL,
 CONSTRAINT [PK_ACC_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_DEAL_UNIT]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_DEAL_UNIT](
	[UNIT_CODE] [varchar](2) NOT NULL,
	[UNIT_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_UNIT_CODE] PRIMARY KEY CLUSTERED 
(
	[UNIT_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_DEAL_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_DEAL_TYPE](
	[TYPE_CODE] [varchar](2) NOT NULL,
	[TYPE_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_DEAL_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_DEAL_STATUS]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_DEAL_STATUS](
	[STATUS_CODE] [varchar](2) NOT NULL,
	[STATUS_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_STATUS_CODE] PRIMARY KEY CLUSTERED 
(
	[STATUS_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_EMP_STATUS]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_EMP_STATUS](
	[STATUS_CODE] [varchar](5) NOT NULL,
	[STATUS_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_EMPSTATUS_CODE] PRIMARY KEY CLUSTERED 
(
	[STATUS_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_EMP_POSITION]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_EMP_POSITION](
	[POSITION_CODE] [varchar](5) NOT NULL,
	[POSITION_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_POSITION_CODE] PRIMARY KEY CLUSTERED 
(
	[POSITION_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_EMP_GROUP]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_EMP_GROUP](
	[GROUP_CODE] [varchar](5) NOT NULL,
	[GROUP_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_GROUP_CODE] PRIMARY KEY CLUSTERED 
(
	[GROUP_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_EMP_DEPARTMENT]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_EMP_DEPARTMENT](
	[DEPARTMENT_CODE] [varchar](5) NOT NULL,
	[DEPARTMENT_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_DEPARTMENT_CODE] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_ESTIMATE_STATUS]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_ESTIMATE_STATUS](
	[STATUS_CODE] [varchar](2) NOT NULL,
	[STATUS_VALUE] [varchar](20) NULL,
 CONSTRAINT [PK_ESTIMATE_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUS_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_CUSTOMER_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_CUSTOMER_TYPE](
	[TYPE_CODE] [varchar](2) NOT NULL,
	[TYPE_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_COMPANY_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_PRODUCT_GROUP]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_PRODUCT_GROUP](
	[GROUP_VALUE] [varchar](50) NULL,
	[ASSET_CODE] [varchar](2) NULL,
	[GROUP_STANDARD] [varchar](100) NULL,
	[GROUP_SEQ] [int] NULL,
	[GROUP_CODE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PRODUCT_GROUP] PRIMARY KEY CLUSTERED 
(
	[GROUP_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_PRODUCT_ASSET]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_PRODUCT_ASSET](
	[ASSET_CODE] [varchar](2) NOT NULL,
	[ASSET_VALUE] [varchar](10) NULL,
 CONSTRAINT [PK_PRODUCT_ASSET] PRIMARY KEY CLUSTERED 
(
	[ASSET_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_PAYMENT_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_PAYMENT_TYPE](
	[PAYMENT_CODE] [varchar](3) NOT NULL,
	[PAYMENT_VALUE] [varchar](20) NULL,
 CONSTRAINT [PK_PAYMENT_CODE] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_MYINFO]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_MYINFO](
	[BUSINESS_LICENSE_NUM] [varchar](10) NULL,
	[CORPORATE_NAME] [varchar](20) NOT NULL,
	[COMPANY_NAME] [varchar](20) NULL,
	[REPRESENTATIVE_NAME] [varchar](10) NULL,
	[REPRESENTATIVE_SOCIAL_NUM] [varchar](13) NULL,
	[BUSINESS_CONDITION] [varchar](2) NULL,
	[BUSINESS_TYPE] [varchar](50) NULL,
	[CORPORATE_AREA] [varchar](2) NULL,
	[CORPORATE_EMAIL] [varchar](100) NULL,
	[CORPORATE_HOMEPAGE] [varchar](100) NULL,
	[CORPORATE_TELNUM] [varchar](12) NULL,
	[CORPORATE_FAXNUM] [varchar](12) NULL,
	[CORPORATE_POSTAL_CODE] [varchar](5) NULL,
	[CORPORATE_ADRESS1] [varchar](100) NULL,
	[CORPORATE_ADRESS2] [varchar](100) NULL,
	[MEMO] [varchar](300) NULL,
	[OFFICAIL_SEAL_FILE] [varchar](100) NULL,
	[COMPANY_CODE] [varchar](3) NOT NULL,
 CONSTRAINT [PK_MY_CODE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_EXPIRY_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_EXPIRY_TYPE](
	[TYPE_CODE] [varchar](5) NOT NULL,
	[TYPE_VALUE] [varchar](20) NULL,
	[TYPE_TERM] [varchar](10) NULL,
 CONSTRAINT [PK_EXPIRY_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_SURTAX_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_SURTAX_TYPE](
	[TYPE_CODE] [varchar](2) NOT NULL,
	[TYPE_VALUE] [varchar](50) NULL,
 CONSTRAINT [PK_SURTAX_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_SALES_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_SALES_TYPE](
	[TYPE_CODE] [varchar](3) NOT NULL,
	[TYPE_VALUE] [varchar](20) NULL,
 CONSTRAINT [PK_SALES_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_PRODUCT_UNIT]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_PRODUCT_UNIT](
	[UNIT_VALUE] [varchar](50) NULL,
	[UNIT_SEQ] [int] NULL,
	[UNIT_CODE] [varchar](2) NOT NULL,
 CONSTRAINT [PK_PRODUCT_UNIT] PRIMARY KEY CLUSTERED 
(
	[UNIT_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_EMPLOYEE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_EMPLOYEE](
	[EMPLOYEE_CODE] [varchar](10) NOT NULL,
	[EMPLOYEE_NAME] [varchar](10) NULL,
	[SEX] [varchar](2) NULL,
	[DEPARTMENT] [varchar](5) NULL,
	[POSITION] [varchar](5) NULL,
	[GROUPS] [varchar](5) NULL,
	[JOIN_DATE] [varchar](8) NULL,
	[BREAK_DATE] [varchar](8) NULL,
	[TELNUM] [varchar](12) NULL,
	[PHONE] [varchar](12) NULL,
	[POSTAL_CODE] [varchar](5) NULL,
	[ADRESS1] [varchar](100) NULL,
	[ADRESS2] [varchar](100) NULL,
	[MEMO] [varchar](300) NULL,
	[FILELIST_CODE] [varchar](8) NULL,
	[CAREERLIST_CODE] [varchar](8) NULL,
	[EMPLOYEE_STATUS] [varchar](5) NULL,
	[EMAIL] [varchar](100) NULL,
	[PHOTO] [varchar](300) NULL,
	[CAREERLIST] [varchar](300) NULL,
 CONSTRAINT [PK_CODE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_PRODUCT_MENUFACTURE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_PRODUCT_MENUFACTURE](
	[MENUFACTURE_CODE] [varchar](10) NOT NULL,
	[MENUFACTURE_NAME] [varchar](50) NULL,
	[MENUFACTURE_TELNUM] [varchar](11) NULL,
	[MENUFACTURE_FAXNUM] [varchar](11) NULL,
	[MENUFACTURE_POSTALCODE] [varchar](5) NULL,
	[MENUFACTURE_ADRESS1] [varchar](100) NULL,
	[MENUFACTURE_ADRESS2] [varchar](100) NULL,
	[MANUFACTURE_AREA] [varchar](2) NULL,
	[MENUFACTURE_SEQ] [int] NULL,
 CONSTRAINT [PK_MENUFACTURE_CODE] PRIMARY KEY CLUSTERED 
(
	[MENUFACTURE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_PRODUCT]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_PRODUCT](
	[PRODUCT_CODE] [varchar](15) NOT NULL,
	[PRODUCT_NAME] [varchar](50) NULL,
	[PRODUCT_GROUPS] [varchar](10) NULL,
	[ASSET_GROUPS] [varchar](2) NULL,
	[STANDARD] [varchar](20) NULL,
	[COLOR] [varchar](6) NULL,
	[UNIT] [varchar](2) NULL,
	[BARCODE] [varchar](30) NULL,
	[COMPANY_CODE] [varchar](10) NULL,
	[RECEIVING_PRICE] [int] NULL,
	[WHOLESALE_PRICE] [int] NULL,
	[RETAIL_PRICE] [int] NULL,
	[SPECIAL_PRICE1] [int] NULL,
	[SPECIAL_PRICE2] [int] NULL,
	[SPECIAL_PRICE3] [int] NULL,
	[TAX_FREE_CHECK] [varchar](6) NULL,
	[DISCOUNT_RATE] [int] NULL,
	[BASIC_STOCK_COUNT] [int] NULL,
	[NOW_STOCK_COUNT] [int] NULL,
	[BOX_COUNT] [int] NULL,
	[UNIT_COUNT] [int] NULL,
	[SAFETY_STOCK_COUNT] [int] NULL,
	[PRODUCT_STORAGE_AREA] [varchar](50) NULL,
	[COUNT_PER_BOX] [int] NULL,
	[PRODUCT_SEQ] [int] NULL,
 CONSTRAINT [PK_PRODUCT_CODE] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_CUSTOMER]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_CUSTOMER](
	[BUSINESS_LICENSE_NUM] [varchar](10) NULL,
	[CORPORATE_NAME] [varchar](20) NOT NULL,
	[ESTABLISHMENT_NUM] [varchar](4) NULL,
	[CORPORATE_TYPE] [varchar](2) NULL,
	[REPRESENTATIVE_NAME] [varchar](10) NULL,
	[REPRESENTATIVE_SOCIAL_NUM] [varchar](13) NULL,
	[BUSINESS_CONDITION] [varchar](2) NULL,
	[BUSINESS_TYPE] [varchar](100) NULL,
	[CORPORATE_AREA] [varchar](2) NULL,
	[STAFF_NAME] [varchar](20) NULL,
	[STAFF_TELNUM] [varchar](12) NULL,
	[CORPORATE_EMAIL] [varchar](100) NULL,
	[CORPORATE_HOMEPAGE] [varchar](100) NULL,
	[CORPORATE_TELNUM] [varchar](12) NULL,
	[CORPORATE_FAXNUM] [varchar](12) NULL,
	[CORPORATE_POSTAL_CODE] [varchar](5) NULL,
	[CORPORATE_ADRESS1] [varchar](100) NULL,
	[CORPORATE_ADRESS2] [varchar](100) NULL,
	[SALESPERSON_CODE] [varchar](10) NULL,
	[UNIT_PRICE_CODE] [varchar](2) NULL,
	[SALES_STATUS_CODE] [varchar](6) NULL,
	[ORDER_PASSWORD] [varchar](10) NULL,
	[DEAL_START_DATE] [varchar](8) NULL,
	[DEAL_FINAL_DATE] [varchar](8) NULL,
	[PAYMENT_DATE] [varchar](8) NULL,
	[LOAN_LIMIT] [int] NULL,
	[UNCOLLECTED_AMOUNT] [int] NULL,
	[UNPAID_AMOUNT] [int] NULL,
	[ACCOUMULATE_FUND] [int] NULL,
	[ADD_TAX_RATE] [int] NULL,
	[DISCOUNT_EXTRA_RATE] [int] NULL,
	[ETC1] [varchar](100) NULL,
	[ETC2] [varchar](100) NULL,
	[CORPORATE_CODE] [varchar](6) NOT NULL,
	[UNIT_DISPLAY] [varchar](6) NULL,
	[INIT_ACCOUMULATE_FUND] [int] NULL,
	[DEAL_STATUS] [varchar](2) NULL,
	[CUSTOMER_DEAL_STATUS] [varchar](2) NULL,
 CONSTRAINT [PK_COMPANY_CODE] PRIMARY KEY CLUSTERED 
(
	[CORPORATE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_DEAL_CUSTOMER]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_DEAL_CUSTOMER](
	[CUSTOMER_CODE] [varchar](6) NOT NULL,
	[PURCHASE_TOTAL_PRICE] [int] NULL,
	[SALES_TOTAL_PRICE] [int] NULL,
	[PURCHASE_PAYMENT_PRICE] [int] NULL,
	[SALES_PAYMENT_PRICE] [int] NULL,
	[PURCHASE_DISCOUNT] [int] NULL,
	[SALES_DISCOUNT] [int] NULL,
	[PAYMENT_DATE] [varchar](8) NULL,
	[ACCOUMULATE_FUND] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_DEAL]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_DEAL](
	[DEAL_CODE] [varchar](18) NOT NULL,
	[DEAL_DATE] [varchar](8) NULL,
	[DEAL_TYPE] [varchar](5) NULL,
	[CUSTOMER_CODE] [varchar](6) NULL,
	[ADD_IN_TAX] [varchar](6) NULL,
	[ACCOUNT_BILL] [varchar](6) NULL,
	[SALESMAN_CODE] [varchar](10) NULL,
	[BEFORE_PRICE] [int] NULL,
	[DISCOUNT_PRICE] [int] NULL,
	[LAST_PRICE] [int] NULL,
	[CREDIT_PRICE] [int] NULL,
	[CASH_PRICE] [int] NULL,
	[ACCOUNT_PRICE] [int] NULL,
	[BILL_PRICE] [int] NULL,
	[CARD_PRICE] [int] NULL,
	[ESTIMATE_CODE] [varchar](18) NULL,
	[ADD_RESERVE_FUND] [int] NULL,
	[USE_RESERVE_FUND] [int] NULL,
	[ETC] [varchar](200) NULL,
	[DEAL_TITLE] [varchar](100) NULL,
	[DEAL_SEQ] [int] NULL,
	[TAX_TYPE] [varchar](2) NULL,
	[TOTAL_COUNT] [int] NULL,
	[TOTAL_AMOUNT] [int] NULL,
	[UNIT_PRICE] [int] NULL,
	[TOTAL_PRICE] [int] NULL,
	[PAYMENT_PRICE] [int] NULL,
	[TAX_PRICE] [int] NULL,
	[ACCOUMULATE_FUND] [int] NULL,
 CONSTRAINT [PK_DEAL_CODE] PRIMARY KEY CLUSTERED 
(
	[DEAL_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_ESTIMATE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_ESTIMATE](
	[ESTIMATE_DATE] [varchar](8) NULL,
	[ESTIMATE_STATUS] [varchar](2) NULL,
	[SALESMAN_CODE] [varchar](10) NULL,
	[CUSTOMER_CODE] [varchar](6) NULL,
	[ESTIMATE_TYPE] [varchar](5) NULL,
	[ESTIMATE_TITLE] [varchar](200) NULL,
	[TAX_TYPE] [varchar](2) NULL,
	[EXPIRY_TERM] [varchar](5) NULL,
	[PAYMENT_TYPE] [varchar](3) NULL,
	[DELIVERTY_DATE] [varchar](8) NULL,
	[ESTIMATE_ETC] [varchar](200) NULL,
	[SEAL_CHECK] [varchar](6) NULL,
	[SEAL_IMAGE] [varchar](100) NULL,
	[DISCOUNT_PRICE] [int] NULL,
	[ADDIN_PRICE] [int] NULL,
	[ESTIMATE_CODE] [varchar](15) NOT NULL,
	[ESTIMATE_SEQ] [int] NULL,
	[UPDATE_DATE] [varchar](8) NULL,
	[TOTAL_PRICE] [int] NULL,
	[TOTAL_AMOUNT] [int] NULL,
 CONSTRAINT [PK_ESTIMATE_CODE] PRIMARY KEY CLUSTERED 
(
	[ESTIMATE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_PRICE]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_PRICE](
	[CUSTOMER_PRICE_CODE] [varchar](20) NOT NULL,
	[PRICE_VERSION] [int] NULL,
	[CUSTOMER_CODE] [varchar](6) NULL,
	[PRODUCT_CODE] [varchar](15) NULL,
	[LAST_PRICE] [int] NULL,
	[RECEIVING_PRICE] [int] NULL,
	[WHOLESALE_PRICE] [int] NULL,
	[RETAIL_PRICE] [int] NULL,
	[SPECIAL_PRICE1] [int] NULL,
	[SPECIAL_PRICE2] [int] NULL,
	[SPECIAL_PRICE3] [int] NULL,
	[TAX_FREE_CHECK] [varchar](6) NULL,
	[DISCOUNT_RATE] [int] NULL,
	[TRADING_TYPE] [varchar](2) NULL,
 CONSTRAINT [PK_PRICE_CODE] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_PRICE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_ESTIMATEDETAIL]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_ESTIMATEDETAIL](
	[ESTIMATEDETAIL_CODE] [varchar](18) NOT NULL,
	[ESTIMATE_CODE] [varchar](15) NULL,
	[PRODUCT_CODE] [varchar](15) NULL,
	[STANDARD] [varchar](4) NULL,
	[UNIT] [varchar](2) NULL,
	[UNIT_PRICE] [int] NULL,
	[LAST_PRICE] [int] NULL,
	[DISCOUNT_PRICE] [int] NULL,
	[AMOUNT] [int] NULL,
	[SURTAX_TYPE] [varchar](2) NULL,
	[ETC] [varchar](200) NULL,
	[SEQ] [int] NULL,
	[TOTAL_PRICE] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ERP_DEALDETAIL]    Script Date: 02/08/2021 17:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERP_DEALDETAIL](
	[DEAL_CODE] [varchar](18) NULL,
	[AMOUNT] [int] NULL,
	[LAST_PRICE] [int] NULL,
	[UNIT_PRICE] [int] NULL,
	[ETC] [varchar](100) NULL,
	[SURTAX_TYPE] [varchar](6) NULL,
	[PRODUCT_CODE] [varchar](15) NULL,
	[TAX_PRICE] [int] NULL,
	[TOTAL_PRICE] [int] NULL,
	[DISCOUNT_PRICE] [int] NULL,
	[DEAL_NUMBER] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_COMPANY_AREA]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [FK_COMPANY_AREA] FOREIGN KEY([CORPORATE_AREA])
REFERENCES [dbo].[ERP_AREA] ([CODE_NUM])
GO
ALTER TABLE [dbo].[ERP_CUSTOMER] CHECK CONSTRAINT [FK_COMPANY_AREA]
GO
/****** Object:  ForeignKey [FK_COMPANY_CONDITION]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [FK_COMPANY_CONDITION] FOREIGN KEY([BUSINESS_CONDITION])
REFERENCES [dbo].[ERP_BUSINESS_CONDITION] ([CONDITION_CODE])
GO
ALTER TABLE [dbo].[ERP_CUSTOMER] CHECK CONSTRAINT [FK_COMPANY_CONDITION]
GO
/****** Object:  ForeignKey [FK_COMPANY_SALESPERSON]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [FK_COMPANY_SALESPERSON] FOREIGN KEY([SALESPERSON_CODE])
REFERENCES [dbo].[ERP_EMPLOYEE] ([EMPLOYEE_CODE])
GO
ALTER TABLE [dbo].[ERP_CUSTOMER] CHECK CONSTRAINT [FK_COMPANY_SALESPERSON]
GO
/****** Object:  ForeignKey [FK_COMPANY_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [FK_COMPANY_TYPE] FOREIGN KEY([CORPORATE_TYPE])
REFERENCES [dbo].[ERP_CUSTOMER_TYPE] ([TYPE_CODE])
GO
ALTER TABLE [dbo].[ERP_CUSTOMER] CHECK CONSTRAINT [FK_COMPANY_TYPE]
GO
/****** Object:  ForeignKey [FK_COMPANY_UNIT]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [FK_COMPANY_UNIT] FOREIGN KEY([UNIT_PRICE_CODE])
REFERENCES [dbo].[ERP_DEAL_UNIT] ([UNIT_CODE])
GO
ALTER TABLE [dbo].[ERP_CUSTOMER] CHECK CONSTRAINT [FK_COMPANY_UNIT]
GO
/****** Object:  ForeignKey [FK_DEAL_STATUS]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [FK_DEAL_STATUS] FOREIGN KEY([DEAL_STATUS])
REFERENCES [dbo].[ERP_DEAL_STATUS] ([STATUS_CODE])
GO
ALTER TABLE [dbo].[ERP_CUSTOMER] CHECK CONSTRAINT [FK_DEAL_STATUS]
GO
/****** Object:  ForeignKey [FK_DEAL_CUSTOMER]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_DEAL]  WITH NOCHECK ADD  CONSTRAINT [FK_DEAL_CUSTOMER] FOREIGN KEY([CUSTOMER_CODE])
REFERENCES [dbo].[ERP_CUSTOMER] ([CORPORATE_CODE])
GO
ALTER TABLE [dbo].[ERP_DEAL] CHECK CONSTRAINT [FK_DEAL_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_DEAL_TAX]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_DEAL]  WITH NOCHECK ADD  CONSTRAINT [FK_DEAL_TAX] FOREIGN KEY([TAX_TYPE])
REFERENCES [dbo].[ERP_SURTAX_TYPE] ([TYPE_CODE])
GO
ALTER TABLE [dbo].[ERP_DEAL] CHECK CONSTRAINT [FK_DEAL_TAX]
GO
/****** Object:  ForeignKey [FK_DEAL_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_DEAL]  WITH NOCHECK ADD  CONSTRAINT [FK_DEAL_TYPE] FOREIGN KEY([DEAL_TYPE])
REFERENCES [dbo].[ERP_ACCOUNT_TYPE] ([TYPE_CODE])
GO
ALTER TABLE [dbo].[ERP_DEAL] CHECK CONSTRAINT [FK_DEAL_TYPE]
GO
/****** Object:  ForeignKey [FK_DELCUSTOMER_CUSTOMER]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_DEAL_CUSTOMER]  WITH NOCHECK ADD  CONSTRAINT [FK_DELCUSTOMER_CUSTOMER] FOREIGN KEY([CUSTOMER_CODE])
REFERENCES [dbo].[ERP_CUSTOMER] ([CORPORATE_CODE])
GO
ALTER TABLE [dbo].[ERP_DEAL_CUSTOMER] CHECK CONSTRAINT [FK_DELCUSTOMER_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_DEALDETAIL]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_DEALDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_DEALDETAIL] FOREIGN KEY([DEAL_CODE])
REFERENCES [dbo].[ERP_DEAL] ([DEAL_CODE])
GO
ALTER TABLE [dbo].[ERP_DEALDETAIL] CHECK CONSTRAINT [FK_DEALDETAIL]
GO
/****** Object:  ForeignKey [FK_DEALDETAIL_PRODUCT]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_DEALDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_DEALDETAIL_PRODUCT] FOREIGN KEY([PRODUCT_CODE])
REFERENCES [dbo].[ERP_PRODUCT] ([PRODUCT_CODE])
GO
ALTER TABLE [dbo].[ERP_DEALDETAIL] CHECK CONSTRAINT [FK_DEALDETAIL_PRODUCT]
GO
/****** Object:  ForeignKey [FK_EMP_DEPARTMENT]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [FK_EMP_DEPARTMENT] FOREIGN KEY([DEPARTMENT])
REFERENCES [dbo].[ERP_EMP_DEPARTMENT] ([DEPARTMENT_CODE])
GO
ALTER TABLE [dbo].[ERP_EMPLOYEE] CHECK CONSTRAINT [FK_EMP_DEPARTMENT]
GO
/****** Object:  ForeignKey [FK_EMP_GROUPS]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [FK_EMP_GROUPS] FOREIGN KEY([GROUPS])
REFERENCES [dbo].[ERP_EMP_GROUP] ([GROUP_CODE])
GO
ALTER TABLE [dbo].[ERP_EMPLOYEE] CHECK CONSTRAINT [FK_EMP_GROUPS]
GO
/****** Object:  ForeignKey [FK_EMP_POSITION]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [FK_EMP_POSITION] FOREIGN KEY([POSITION])
REFERENCES [dbo].[ERP_EMP_POSITION] ([POSITION_CODE])
GO
ALTER TABLE [dbo].[ERP_EMPLOYEE] CHECK CONSTRAINT [FK_EMP_POSITION]
GO
/****** Object:  ForeignKey [FK_EMPLOYEE_STATUS]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_EMPLOYEE]  WITH NOCHECK ADD  CONSTRAINT [FK_EMPLOYEE_STATUS] FOREIGN KEY([EMPLOYEE_STATUS])
REFERENCES [dbo].[ERP_EMP_STATUS] ([STATUS_CODE])
GO
ALTER TABLE [dbo].[ERP_EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_STATUS]
GO
/****** Object:  ForeignKey [FK_ESTIMATE_CUSTOMER]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATE]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTIMATE_CUSTOMER] FOREIGN KEY([CUSTOMER_CODE])
REFERENCES [dbo].[ERP_CUSTOMER] ([CORPORATE_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATE] CHECK CONSTRAINT [FK_ESTIMATE_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_ESTIMATE_PAYMENT]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATE]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTIMATE_PAYMENT] FOREIGN KEY([PAYMENT_TYPE])
REFERENCES [dbo].[ERP_PAYMENT_TYPE] ([PAYMENT_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATE] CHECK CONSTRAINT [FK_ESTIMATE_PAYMENT]
GO
/****** Object:  ForeignKey [FK_ESTIMATE_SALESMAN]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATE]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTIMATE_SALESMAN] FOREIGN KEY([SALESMAN_CODE])
REFERENCES [dbo].[ERP_EMPLOYEE] ([EMPLOYEE_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATE] CHECK CONSTRAINT [FK_ESTIMATE_SALESMAN]
GO
/****** Object:  ForeignKey [FK_ESTIMATE_STATUS]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATE]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTIMATE_STATUS] FOREIGN KEY([ESTIMATE_STATUS])
REFERENCES [dbo].[ERP_ESTIMATE_STATUS] ([STATUS_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATE] CHECK CONSTRAINT [FK_ESTIMATE_STATUS]
GO
/****** Object:  ForeignKey [FK_ESTIMATE_TAX]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATE]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTIMATE_TAX] FOREIGN KEY([TAX_TYPE])
REFERENCES [dbo].[ERP_DEAL_TYPE] ([TYPE_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATE] CHECK CONSTRAINT [FK_ESTIMATE_TAX]
GO
/****** Object:  ForeignKey [FK_ESTIMATE_TYPE]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATE]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTIMATE_TYPE] FOREIGN KEY([ESTIMATE_TYPE])
REFERENCES [dbo].[ERP_ACCOUNT_TYPE] ([TYPE_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATE] CHECK CONSTRAINT [FK_ESTIMATE_TYPE]
GO
/****** Object:  ForeignKey [FK_EXPIRY_TERM]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATE]  WITH NOCHECK ADD  CONSTRAINT [FK_EXPIRY_TERM] FOREIGN KEY([EXPIRY_TERM])
REFERENCES [dbo].[ERP_EXPIRY_TYPE] ([TYPE_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATE] CHECK CONSTRAINT [FK_EXPIRY_TERM]
GO
/****** Object:  ForeignKey [FK_DEAL_PRODUCT]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATEDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_DEAL_PRODUCT] FOREIGN KEY([PRODUCT_CODE])
REFERENCES [dbo].[ERP_PRODUCT] ([PRODUCT_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATEDETAIL] CHECK CONSTRAINT [FK_DEAL_PRODUCT]
GO
/****** Object:  ForeignKey [FK_ESTIMATE_DETAIL]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_ESTIMATEDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTIMATE_DETAIL] FOREIGN KEY([ESTIMATE_CODE])
REFERENCES [dbo].[ERP_ESTIMATE] ([ESTIMATE_CODE])
GO
ALTER TABLE [dbo].[ERP_ESTIMATEDETAIL] CHECK CONSTRAINT [FK_ESTIMATE_DETAIL]
GO
/****** Object:  ForeignKey [FK_PRICE_CUSTOMER]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_PRICE]  WITH NOCHECK ADD  CONSTRAINT [FK_PRICE_CUSTOMER] FOREIGN KEY([CUSTOMER_CODE])
REFERENCES [dbo].[ERP_CUSTOMER] ([CORPORATE_CODE])
GO
ALTER TABLE [dbo].[ERP_PRICE] CHECK CONSTRAINT [FK_PRICE_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_PRICE_PRODUCT]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_PRICE]  WITH NOCHECK ADD  CONSTRAINT [FK_PRICE_PRODUCT] FOREIGN KEY([PRODUCT_CODE])
REFERENCES [dbo].[ERP_PRODUCT] ([PRODUCT_CODE])
GO
ALTER TABLE [dbo].[ERP_PRICE] CHECK CONSTRAINT [FK_PRICE_PRODUCT]
GO
/****** Object:  ForeignKey [FK_PRICE_TRADING]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_PRICE]  WITH NOCHECK ADD  CONSTRAINT [FK_PRICE_TRADING] FOREIGN KEY([TRADING_TYPE])
REFERENCES [dbo].[ERP_DEAL_STATUS] ([STATUS_CODE])
GO
ALTER TABLE [dbo].[ERP_PRICE] CHECK CONSTRAINT [FK_PRICE_TRADING]
GO
/****** Object:  ForeignKey [FK_PRODUCT_ASSET]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK_PRODUCT_ASSET] FOREIGN KEY([ASSET_GROUPS])
REFERENCES [dbo].[ERP_PRODUCT_ASSET] ([ASSET_CODE])
GO
ALTER TABLE [dbo].[ERP_PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_ASSET]
GO
/****** Object:  ForeignKey [FK_PRODUCT_COMPANY]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK_PRODUCT_COMPANY] FOREIGN KEY([COMPANY_CODE])
REFERENCES [dbo].[ERP_PRODUCT_MENUFACTURE] ([MENUFACTURE_CODE])
GO
ALTER TABLE [dbo].[ERP_PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_COMPANY]
GO
/****** Object:  ForeignKey [FK_PRODUCT_GROUPS]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK_PRODUCT_GROUPS] FOREIGN KEY([PRODUCT_GROUPS])
REFERENCES [dbo].[ERP_PRODUCT_GROUP] ([GROUP_CODE])
GO
ALTER TABLE [dbo].[ERP_PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_GROUPS]
GO
/****** Object:  ForeignKey [FK_PRODUCT_UNIT]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK_PRODUCT_UNIT] FOREIGN KEY([UNIT])
REFERENCES [dbo].[ERP_PRODUCT_UNIT] ([UNIT_CODE])
GO
ALTER TABLE [dbo].[ERP_PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_UNIT]
GO
/****** Object:  ForeignKey [FK_MANUFACTURE_AREA]    Script Date: 02/08/2021 17:10:35 ******/
ALTER TABLE [dbo].[ERP_PRODUCT_MENUFACTURE]  WITH NOCHECK ADD  CONSTRAINT [FK_MANUFACTURE_AREA] FOREIGN KEY([MANUFACTURE_AREA])
REFERENCES [dbo].[ERP_AREA] ([CODE_NUM])
GO
ALTER TABLE [dbo].[ERP_PRODUCT_MENUFACTURE] CHECK CONSTRAINT [FK_MANUFACTURE_AREA]
GO
